bin
obj
/keys

# JetBrains files
.idea

# Mac files
.DS_Store

TezosNotifyBot/config.json
TezosNotifyBot/Settings/Settings.Local.json
deploy/compose.local.env
/.vs/TezosNotifyBot
/.vs/tezos-bot/v16/.suo
/.vs
/TezosNotifyBot/Settings/Settings.Development.json
