stages:
  - build
  - remove
  - deploy
  - service

Build Staging:
  stage: build
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -t $CI_REGISTRY_IMAGE/bot:staging .
    - docker push $CI_REGISTRY_IMAGE/bot:staging
  tags:
    - builder
  only:
    refs:
      - develop
  environment:
    name: development

Deploy Bot:
  stage: deploy
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker-compose -f deploy/compose.yml pull
    - docker-compose -f deploy/compose.yml -p tezos-bot up --remove-orphans -d
  tags:
    - deployer
  only:
    refs:
      - develop
  variables:
    DB: "User ID=${DB_USER};Host=db;Password=${DB_PASSWORD};Port=5432;Database=${DB_NAME};Pooling=true;"
    ENV: Staging
    BASE_DOMAIN: test.tnb.thegroup.tech
    DOCKER_VERSION: staging
    GOOGLE_APPLICATION_CREDENTIALS: $(cat "$GOOGLE_APPLICATION_CREDENTIALS")

  environment:
    name: development

Restart Staging:
  stage: service
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker-compose -f deploy/compose.yml -p tezos-bot restart bot
  tags:
    - deployer
  only:
    refs:
      - develop
  when: manual
  variables:
    DB: "User ID=${DB_USER};Host=db;Password=${DB_PASSWORD};Port=5432;Database=${DB_NAME};Pooling=true;"
    ENV: Staging
    BASE_DOMAIN: test.tnb.thegroup.tech
    DOCKER_VERSION: staging
  environment:
    name: development


Build Release:
  stage: build
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -t $CI_REGISTRY_IMAGE/bot:$CI_COMMIT_TAG --build-arg version=$CI_COMMIT_TAG .
    - docker push $CI_REGISTRY_IMAGE/bot:$CI_COMMIT_TAG
  tags:
    - builder
  only:
    refs:
      - tags
  environment:
    name: release

Deploy Release:
  stage: deploy
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker-compose -f deploy/compose.yml pull
    - docker-compose -f deploy/compose.yml -p tezos-bot-release up -d
  tags:
    - deployer
  only:
    refs:
      - tags
  variables:
    DB: "User ID=${DB_USER};Host=db;Password=${DB_PASSWORD};Port=5432;Database=${DB_NAME};Pooling=true;"
    ENV: Production
    BASE_DOMAIN: tnb.thegroup.tech
    DOCKER_VERSION: $CI_COMMIT_TAG
  environment:
    name: release
    
Restart Release:
  stage: service
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker-compose -f deploy/compose.yml -p tezos-bot-release restart bot
  only:
    refs:
      - tags
  tags:
    - deployer
  when: manual
  environment:
    name: release


Shutdown Release:
  stage: service
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker-compose -f deploy/compose.yml -p tezos-bot-release stop bot
  only:
    refs:
      - tags
  tags:
    - deployer
  when: manual
  environment:
    name: release
    
Backup Database:
  stage: service
  script: 
    - cat deploy/dump.sh | docker-compose -f deploy/compose.yml -p tezos-bot-release exec -T db bash
  only:
    - schedules
  tags: 
    - deployer
  environment:
    name: release